:root
{

    --text: #fcfffe;
    --search_bar: #693dac;
}

@font-face
{
    font-family: fira-light;
    src: url('/static/fonts/FiraSans-ExtraLight.ttf');
    font-weight: bold;
}

*
{
    margin:0;
    padding:0;
    font-family: fira-light;
    color: #fcfffe;
}

body
{
    background: #2f2c51;
}



@media (min-aspect-ratio: 2/5)
{
    #settings_container
    {
        font-size: 3vw;
        position:relative;
    }

    #search_container
    {
        background: var(--search_bar);
        padding-bottom:5vw;
    }

    #input_text_label
    {
        text-align:center;
        margin:auto;
        font-size:4vw;
        padding:2vw;
    }

    #search_input
    {
        display:block;
        margin:auto;
        width:70%;
        height:10vw;
        font-size: 7vw;
        background: #7449b5;
        outline: none;
        border: solid 2px var(--text);
        text-align:center;
        padding: 1vw;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }



     #search_input:focus
     {
        border: solid 2px var(--text);
     }

    #city_select_container
    {
        width:70%;
        margin:auto;
        border: solid 2px var(--text);
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
        overflow: hidden;
        display: none;
    }

    .city_select_button
    {
        display:block;
        width:100%;
        font-size: 4vw;
        background: #a581da;
        border-left: solid 2px var(--text);
        border-right: solid 2px var(--text);
        border-bottom: solid 2px var(--text);
        border-top: none;
    }

    .city_select_button > img
    {
        width: 5vw;
        height:5vw;
        display:inline-block;
        float:left;
        margin-top:2vw;
        margin-left:2vw;
    }

    .city_select_button > p
    {
        display:inline-block;
    }

    .city_name
    {
        display:block;
    }

    .city_place
    {
        display:block;
    }

    #selected_city
    {
        position:absolute;
        margin:auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 10vw;

    }

    .selected_city_name
    {
        font-size: 6vw;
        margin:1vw;
    }

    .selected_city_pos
    {
        font-size: 3vw;
        margin:1vw;
    }

    #search_bottom
    {
        position:absolute;
        width: 70%;
        bottom:-3vw;
        height:5vw;
        left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
        background: var(--search_bar);
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }
}

