:root
{

    --text: #fcfffe;
    --search_bar: #8049d5;
    --time_bar: #553588;
    --forecast_bar: #372053;
    --prognose_bar: #272053;
}

@font-face
{
    font-family: fira-thin;
    src: url('/static/fonts/FiraSans-Thin.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: fira-light;
    src: url('/static/fonts/FiraSans-ExtraLight.ttf');
    font-weight: bold;
}

*
{
    margin:0;
    padding:0;
    font-family: fira-light;
    color: #fcfffe;
}

body
{
    background: #1e1d2d;
    overflow:hidden;
}



@media (min-aspect-ratio: 2/5)
{
    .step
    {
        position:absolute;
        left:2vw;
        top:50%;
        line-height:0vw;
        font-size: 13vw;
    }

    #settings_container
    {
        font-size: 3vw;
        position:relative;
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        width:100vw;
    }

    #search_container
    {
        background: var(--search_bar);
        position:relative;
        height:25%;
        z-index:5;
    }

    #location_label, #time_label, #forecast_label, #prognose_label
    {
        text-align:center;
        margin:auto;
        font-family: fira-thin;
        font-size:6vw;
        padding:3vw;
    }

    #time_label, #forecast_label, #prognose_label
    {
        padding-top:5vw;
    }

    #search_input
    {
        display:block;
        margin:auto;
        width:70%;
        height:15vw;
        font-size: 9vw;
        background: #7449b5;
        outline: none;
        border: solid 2px var(--text);
        text-align:center;
        padding: 1vw;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        margin-top:3vw;
    }



     #search_input:focus
     {
        border: solid 2px var(--text);
     }

    #city_select_container
    {
        width:70%;
        margin:auto;
        border: solid 2px var(--text);
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
        overflow: hidden;
        display: none;
    }

    .city_select_button
    {
        display:block;
        width:100%;
        font-size: 4vw;
        background: #a581da;
        border-left: solid 2px var(--text);
        border-right: solid 2px var(--text);
        border-bottom: solid 2px var(--text);
        border-top: none;
        z-index:10;
        position:relative;
    }

    .city_select_button > img
    {
        width: 5vw;
        height:5vw;
        display:inline-block;
        float:left;
        margin-top:2.5vw;
        margin-left:2vw;
    }

    .city_select_button > p
    {
        display:inline-block;
    }

    .city_name
    {
        display:block;
    }

    .city_place
    {
        display:block;
    }

    #selected_city
    {
        position:absolute;
        margin:auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 15vw;
        margin-top:3vw;

    }

    #selected_city > img
    {
        width: 8vw;
        height:8vw;
        display:inline-block;
        float:left;
        margin-top:3.5vw;
        margin-left:2vw;
    }

    #selected_city  > p
    {
        display:inline-block;
    }

    .selected_city_name
    {
        font-size: 8vw;
        margin:1vw;
    }

    .selected_city_pos
    {
        font-size: 3vw;
        margin:1vw;
    }

    #search_bottom
    {
        position:absolute;
        width: 70%;
        bottom:-3vw;
        height:5vw;
        left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
        background: var(--search_bar);
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }


    #time_container
    {
        background: var(--time_bar);
        height:25%;
        width:100%;
        position:relative;
        z-index:4;
    }

    #time_bottom
    {
        position:absolute;
        width: 70%;
        bottom:-3vw;
        height:5vw;
        left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
        background: var(--time_bar);
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }

    #time_buttons_container
    {
        width:70%;
        margin:auto;
        margin-top:-3vw;
    }

    .time_select_button {
	width: 38%;
	height: 10vw;
	margin: 5%;
	background: #7449b5;
	border: solid 2px var(--text);
	border-radius: 3vw;
}

    .time_select_button_value
    {
        font-size:8vw;
    }

    .time_select_button_label
    {
        font-size:4vw;
        line-height:4vw;
    }


    #forecast_container
    {
        background: var(--forecast_bar);
        height:25%;
        position:relative;
        z-index:3;
    }

    #forecast_bottom
    {
        position:absolute;
        width: 70%;
        bottom:-3vw;
        height:5vw;
        left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
        background: var(--forecast_bar);
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }







    #prognose_container
    {
        background: var(--prognose_bar);
        height:25%;
        width:100%;
        position:relative;
        z-index:2;
    }


    #prognose_bottom
    {
        position:absolute;
        width: 70%;
        bottom:-3vw;
        height:5vw;
        left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
        background: var(--prognose_bar);
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }

}

